@{
    ViewBag.Title = "Home Page";
}

<div class="document-catalog">
    <div class="document-catalog-item">
        <a title="Images">
            <span class="glyphicon glyphicon-camera"></span>
        </a>
    </div>
    <div class="document-catalog-item">
        <a title="Excels">
            <span class="glyphicon glyphicon-list-alt"></span>
        </a>
    </div>
    <div class="document-catalog-item">
        <a title="PDFs">
            <span class="glyphicon glyphicon-book"></span>
        </a>
    </div>
</div>