body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.document-catalog-item{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #bdbebd;
    cursor: pointer;
    padding: 20px 45px;
    margin:20px;
}

.document-catalog-item .glyphicon{
    font-size:100px;
}

.document-catalog-item p{
    text-align: center;
    margin-top: 5px;
}